.roll-box{
	width: 100%;
	height: 60rem;
	text-align: center;
	background-image: url("images/backgroundimg.png");
	background-size: cover;
}
	.roll-left{
		float: left;
		margin-top: 25.3rem;
		margin-left: 3.4rem;
	}
	.roll-right{
		float: right;
		margin-top: 25.3rem;
		margin-right: 3.4rem;
	}
	.roll-box p{
		color: #fff;
	}
	.roll-top-text{
		padding-top: 23.7rem;
		font-size: 4rem;
	}
	.roll-middle-text{
		font-size: 6rem;
	}
	.roll-middle-text span{
		font-size: 9rem;
	}
	.roll-bottom{
		margin-top: 8rem;
	}
.main{
	margin: 0 auto;
	width: 100%;
	text-align: center;l
	background-color: #fafafa;
}
	.main-top{
		margin: 0 auto;
		width: 120rem;
		overflow: hidden;
	}
		.main-top-left{
			float: left;
			width: 93.5rem;
			overflow: hidden;
		}
			.main-top-left ul{
				float: left;
				margin-top: 16rem;
				margin-right: 9rem;
				width: 22rem;
				text-align: center;
			}
			.main-top-left h2{
				padding-top: 3rem;
				font-size: 18px;
			}
			.main-top-left p{
				margin-top: 3rem;
				font-size: 1.6rem;
				color: #d3d3d3;
			}
		.main-top-right{
			float: left;
			width: 26rem;
			overflow: hidden;
		}
			.people-num{
				margin-top: 16rem;
				padding-top: 6rem;
				padding-left: 5.5rem;
				height: 19rem;
				border-left: 0.1rem dashed #d3d3d3;
			}
				.people-num h2{
					line-height: 1.7rem;
					font-size: 1.8rem;
					color: #26a26f;
				}
				.people-num p{
					margin-top: 2rem;
					margin-bottom: 3rem;
					font-size: 1.8rem;
					color: #d3d3d3;
				}
	.main-middle{
		margin: 0 auto;
		width: 120rem;
	}
		.main-middle h2{
			padding-top: 5rem;
			font-size: 18px;
			line-height: 11.5rem;
		}
		.main-middle ul{
			margin-bottom: 9.5rem;
			overflow: hidden;
		}
		.main-middle li{
			float: left;
			height: 70px;
		}
		.main-middle span{
			width: 70px;
			height: 70px;
			display: block;
			font-size: 15px;
			color: #29b078;
			line-height: 70px;
			text-align: center;
			vertical-align: middle;
			background-color: #fff;
			border-radius: 35px;
			box-shadow: 1px 1px 1px #a1a1a1;		
		}
		.main-middle p{
			width: 15rem;
			padding: 1.2rem 2.525rem 0 1.5rem;
			color: #d3d3d3;
			line-height: 2.2rem;
			font-size: 1.4rem;
		}
		.main-middle img{
			margin-top: 22px;
			width: 28px;
			height: 26px;
			padding-right: 2.5rem;
			vertical-align: middle;
		}
	.main-bottom{
		margin: 0 auto;
		width: 120rem;
	}
		.main-bottom h2{
			margin-top: 30px;
			font-size: 18px;
		}
		.main-bottom-list{
			margin-top: 70px;
			overflow: hidden;
		}
			.main-bottom-list li{
				float: left;
				margin: 0 15px;
				width: 270px;
				height: 370px;
				background-color: #fff;
				box-shadow: 1px 1px 1px #eeeded;
			}
			.main-bottom-list img{
				margin-top: 15px;
			}
			.main-bottom-list h3{
				margin-top: 45px;
				margin-bottom: 30px;
				font-size: 18px;
			}
			.main-bottom-list p{
				margin-left: 32.5px;
				width: 205px;
				font-size: 16px;
				color: #d3d3d3;
				text-align: left;
			}
		.main-bottom-img{
			margin-top: 25px;
		}
	.main-footer-top{
		margin: 0 auto;
		width: 1200px;
	}
		.main-footer-top h2{
			margin-top: 130px;
			font-size: 18px;
		}
		.main-footer-top ul{
			margin-top: 67px;
			height: 178px;
			background-color: #fff;
			box-shadow: 0px 0px 7px 0px #dddddd;
		}
		.main-footer-top li{
			float: left;
			width: 240px;
			line-height: 178px;
		}
		.main-footer-top img{
			vertical-align: middle;
		}
		.main-footer-im img{
			padding: 65px 50px;
			box-shadow: 0px 0px 12px 0px #dddddd;
		}
	.main-footer-bottom{
		margin-top: 90px;
		padding-bottom: 14px;
		width: 100%;
		background-color: #fff;
	}
		.main-footer-box{
			margin: 0 auto;
			width: 1200px;
			overflow: hidden;
		}
		.main-footer-box h2{
			padding-top: 20px;
			font-size: 18px;
		}
		.main-footer-box ul{
			margin-top: 24px;
			width: 1200px;
			height: 45px;
		}
		.main-footer-box span{
			width: 5px;
			height: 5px;
			margin-right: 10px;
			vertical-align: middle;
			border-radius: 2.5px;
			display: inline-block;
			background-color: #999;
		}
		.main-footer-box li{
			float: left;
			margin-right: 30px;
			width: 90px;
			line-height: 30px;
			font-size: 14px;
			color: #999;
			border-bottom: 1px solid #fff;
		}
		.main-footer-box li:hover{
			border-bottom-color: #26a26f;
		}